body::before {
    display: block;
    content: '';
    height: 60px;
}

a, li{
    text-decoration: none;
}

/* .navbar-brand .img-fluid {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
} */

/* menu text styles */
h1 {
    color: #EF9A53;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xxx-large;

}
h2 {
    color: #EF9A53;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
h4 {
    color: #EF9A53;
    font-family: Arial, Helvetica, sans-serif;

}
h6 {
    color: #EF9A53;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
p {
    font-family: Arial, Helvetica, sans-serif;

}

/* card styles */


/* button styles */
.btn {
    background-color: #F5D5AE;
    font-weight: bold;
}

.navbar {
    background-color: #F5D5AE;
}

#navShadow {
    box-shadow: 0 1px 10px red;
}

.navbar-nav .nav-item .nav-link {
    color: #EF9A53;
}


.navbar-nav .nav-item:active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}
/*Main Content*/
.order_button{
    display: flex;
    justify-content: center;
}

#menuBody h2, h4{
    color:#EF9A53;
}



/*Main Ends*/
/*Footer Starts*/
#wide {
    max-width: 100% !important;
    background-color: #C539B4 !important;
}

footer {
    background-color:  #C539B4;
}

footer .navbar {
    background-color: #C539B4;
}

#address a {
    font-size: .75rem;
    color: #fff;
}

#foot-item{
    text-decoration: none;
}



